<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <div class="column1">
    <div class="logoPlace">
      <img src="{{imgUrl}}" alt="logo">
      <h1>
        {{ title }}
      </h1>
    </div>
    <div class="side">
      <div class="nav" *ngFor="let nav of sideNav">
        <div [class]="nav.sClass">
          <i class="material-icons">
            {{nav.sIcon}}
          </i>
          <a  href="{{nav.sPath}}">{{nav.sTitle}}</a>
        </div>
      </div>

    </div>
  </div>
  <div class="column2">
    <div class="logout"></div>
    <div class="data">
      <tab [names]='names'></tab>
    </div>
  </div>
</div>

